<h1>Editing Cocktail</h1>



<div style="float: left">
  <%= image_tag @cocktail.photo.url(:index) if @cocktail.photo.url %>
</div>


<div style="float: left">
<%= render 'form', cocktail: @cocktail %>

<div>
  <%= link_to 'Show', @cocktail %> |
  <%= link_to 'Back', cocktails_path %> |
  <%= link_to 'Destroy', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

</div>

